body {
    background-color: black;
    font-family: "IBM Plex Sans", sans-serif;
}

.login-page {
    width: fit-content;
    padding: 15rem 1rem 0;
    margin: auto;
}

.form {
    position: relative;
    background: black;
    max-width: 25rem;
    margin: -4rem auto 2rem;
    padding: 2rem;
    text-align: center;
    border: 1px solid white;
    border-radius: 1rem;
}

#title {
    outline: 0;
    background: transparent;
    color: white;
    width: 100%;
    border: 0;
    margin: 0 0 1rem;
    margin-bottom: 2rem;
    padding: 1rem;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 0.5rem;
    font-size: 1rem;
}

#content {
    outline: 0;
    background: transparent;
    color: white;
    width: 100%;
    height: 10rem;
    border: 0;
    margin: 0 0 1rem;
    padding: 1rem;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 0.5rem;
    font-size: 1rem;
    overflow: scroll;
}

#content::placeholder {
    font-family: "IBM Plex Sans", sans-serif;
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: transparent;
    border: 1px solid white;
    border-radius: 0.5rem;
    width: fit-content;
    margin: 1rem;
    padding: 1rem;
    color: #FFFFFF;
    font-size: 0.8rem;
    cursor: pointer;
}

.form button:hover,
.form button:active,
.form button:focus {
    background-color: #FA8BFF;
    background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
    color: black
}