html,
body {
    min-height: 100%;
}

body {
    display: block;
    background-color: black;
    background-image: url("/images/shaan_black_background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: "IBM Plex Sans", sans-serif;
}

.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "header header header"
        "experience experience experience"
        "my_experience my_experience ."
        "my_experience my_experience ."
        "my_experience my_experience ."
        "certificate certificate certificate"
        "certificate certificate certificate"
        "certificate certificate certificate"
        "certificate certificate certificate"
        "certificate certificate certificate"
        "certificate certificate certificate"
        "footer footer footer";
    gap: 1rem;
}

#header {
    grid-area: header;
}

#header nav {
    border-bottom: 1px solid white;
    padding: 0.5rem;
    display: block;
}

#footer nav {
    vertical-align: bottom;
}

#header nav ul {
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-evenly;
    gap: 2rem;
    padding: 1rem 0;
}

#experience {
    grid-area: experience;
    color: white;
    text-align: right;
    padding-right: 2rem;
}

#experience h1 {
    font-family: "IBM Plex Sans";
    font-size: 6rem;
}

#experience p {
    margin: 0;
    font-size: 3rem;
    font-weight: lighter;
    text-align: right;
    text-justify: right;
}

#my_experience {
    grid-area: my_experience;
    color: white;
    padding: 1rem;
    height: fit-content;
    max-width: fit-content;
}

#my_experience p {
    font-size: 1.5rem;
    padding: 1rem;
    padding-bottom: 0;
    margin-bottom: 0;
}

#certificate {
    grid-area: certificate;
    grid-area: certificate;
    display: flex;
    align-items: start;
    justify-content: start;
    padding: 1rem;
    margin-top: 0;
    padding-top: 0;
}

.certificate iframe {
    border: none;
    border-radius: 1rem;
}

#footer {
    grid-area: footer;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-weight: 100;
    padding: 1rem;
    color: white;
    border-top: 1px solid white;
}

#footer nav ul {
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-evenly;
}

#home_link,
#about_link,
#skills_link,
#experience_link,
#projects_link,
#contact_link {
    border-right: 1px solid white;
    padding: 0.5rem 1rem;
    min-width: fit-content;
    font-weight: 100;
    font-size: 1rem;
    list-style: none;
}

#education_link,
#blog_link {
    padding: 0.5rem 1rem;
    min-width: fit-content;
    font-weight: 100;
    font-size: 1rem;
    list-style: none;
}

#footer nav ul li {
    padding: 0.5rem 1rem;
    min-width: fit-content;
    font-weight: 100;
    font-size: 1rem;
    list-style: none;
}

#header nav ul li a,
footer nav ul li a {
    display: flex;
    align-items: center;
    gap: 0.8rem;

    text-decoration: none;
    color: white;
    position: relative;
}

#header nav ul li a svg {
    min-width: 1rem;
}

#header nav ul li a::after {
    content: '';
    width: 0;
    height: 1px;
    background: #f142d7;
    position: absolute;
    left: 50%;
    bottom: -6px;
    transition: 0.3s ease-in-out;
}

#header nav ul li a:hover::after {
    width: 100%;
    left: 0;
}