html,
body {
    min-height: 100%;
}

body {
    display: block;
    background-color: black;
    background-image: url("/images/graduation.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: "IBM Plex Sans", sans-serif;
}

.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "header header header header"
        "education_and_qualifications education_and_qualifications education_and_qualifications education_and_qualifications"
        ". . . ."
        ". . . IGCSEs"
        ". . . IGCSEs"
        ". . . IGCSEs"
        ". . . IGCSEs"
        ". . . IGCSEs"
        ". . . IGCSEs"
        ". . . a_levels"
        "university university . ."
        "footer footer footer footer";
    gap: 1.5rem;
}

/* Because after reducing the width after a certain point my picture goes away so might as well put the items there*/
@media screen and (min-width: 769px) and (max-width: 1330px) {
    .container {
        display: grid;
        grid-template-rows: auto 1fr auto;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "header header header header"
            "education_and_qualifications education_and_qualifications education_and_qualifications education_and_qualifications"
            ". . . ."
            "IGCSEs . . ."
            "IGCSEs . . ."
            "IGCSEs . . ."
            "IGCSEs . . ."
            "IGCSEs . . ."
            "IGCSEs . . ."
            "a_levels . . ."
            "university . . ."
            "footer footer footer footer";
        gap: 1.5rem;
    }
}

#header {
    grid-area: header;
    background-color: black;
}

#header nav {
    border-bottom: 1px solid white;
    padding: 0.5rem;
    display: block;
}

#footer nav {
    vertical-align: bottom;
}

#header nav ul {
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-evenly;
    gap: 2rem;
    padding: 1rem 0;
}

#education_and_qualifications {
    grid-area: education_and_qualifications;
    color: white;
    text-align: right;
    padding-right: 2rem;
}

#education_and_qualifications h1 {
    font-family: "IBM Plex Sans";
    font-size: 6rem;
}

#education_and_qualifications p {
    margin: 0;
    font-size: 3rem;
    font-weight: lighter;
    text-align: right;
    text-justify: right;
}

#IGCSEs {
    grid-area: IGCSEs;
    color: white;
    margin: 1rem;
    padding: 1rem;
    max-height: fit-content;
    max-width: 15rem;
    border: 1px solid white;
    border-radius: 1rem;
    text-align: end;
}

#IGCSEs h2,
#a_levels h2 {
    font-size: 1rem;
    text-align: left;
    padding: 0.5rem;
}

#IGCSEs ul,
#a_levels ul,
#university ul {
    list-style: none;
    padding: 1rem;

}

#a_levels {
    grid-area: a_levels;
    color: white;
    margin: 1rem;
    padding: 1rem;
    max-height: fit-content;
    max-width: 15rem;
    border: 1px solid white;
    border-radius: 1rem;
    text-align: end;
}

#university {
    grid-area: university;
    color: white;
    margin: 1rem;
    padding: 1rem;
    max-height: fit-content;
    border: 1px solid white;
    border-radius: 1rem;
    text-align: end;
}

#university h2 {
    font-size: 2rem;
    text-align: left;
    padding: 0.5rem;
}

#university ul li {
    font-size: 1.5rem;
}

#footer {
    grid-area: footer;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-weight: 100;
    padding: 1rem;
    color: white;
    border-top: 1px solid white;
}

#footer nav ul {
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-evenly;
}

#home_link,
#about_link,
#skills_link,
#experience_link,
#projects_link,
#contact_link {
    border-right: 1px solid white;
    padding: 0.5rem 1rem;
    min-width: fit-content;
    font-weight: 100;
    font-size: 1rem;
    list-style: none;
}

#education_link,
#blog_link {
    padding: 0.5rem 1rem;
    min-width: fit-content;
    font-weight: 100;
    font-size: 1rem;
    list-style: none;
}

#footer nav ul li {
    padding: 0.5rem 1rem;
    min-width: fit-content;
    font-weight: 100;
    font-size: 1rem;
    list-style: none;
}

#header nav ul li a,
footer nav ul li a {
    display: flex;
    align-items: center;
    gap: 0.8rem;

    text-decoration: none;
    color: white;
    position: relative;
}

#header nav ul li a svg {
    min-width: 1rem;
}

#header nav ul li a::after {
    content: '';
    width: 0;
    height: 1px;
    background: #f142d7;
    position: absolute;
    left: 50%;
    bottom: -6px;
    transition: 0.3s ease-in-out;
}

#header nav ul li a:hover::after {
    width: 100%;
    left: 0;
}