html, body {
    min-height: 100%;
}

body {
    display: block;
    background-color: black;
    font-family: "IBM Plex Sans", sans-serif;
}

.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
        " education_and_qualifications education_and_qualifications education_and_qualifications"
        " education_and_qualifications education_and_qualifications education_and_qualifications"
        "header header header"
        "IGCSEs IGCSEs IGCSEs"
        "IGCSEs IGCSEs IGCSEs"
        "IGCSEs IGCSEs IGCSEs"
        "IGCSEs IGCSEs IGCSEs"
        "a_levels a_levels a_levels"
        "a_levels a_levels a_levels"
        "a_levels a_levels a_levels"
        "a_levels a_levels a_levels"
        "university university university"
        "university university university"
        "university university university"
        "university university university"
        "footer footer footer";
    gap: 1.5rem;
}

#header {
    grid-area: header;
    border-right: 1px solid white;
}

#header {
    grid-area: header;
    background-color: black;
}

#header nav {
    padding: 0.5rem;
    display: block;
}

#footer nav {
    vertical-align: bottom;
}

#header nav ul {
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: start;
    justify-content: space-evenly;
    gap: 2rem;
    padding: 1rem 0;
}

#education_and_qualifications {
    grid-area: education_and_qualifications;
    color: white;
    text-align: right;
    padding-right: 2rem;
}

#education_and_qualifications h1 {
    font-family: "IBM Plex Sans";
    font-size: 5rem;
}

#education_and_qualifications p {
    margin: 0;
    font-size: 2rem;
    font-weight: lighter;
    text-align: right;
    text-justify: right;
}

#IGCSEs {
    grid-area: IGCSEs;
    color: white;
    margin: 1rem;
    padding: 1rem;
    max-height: fit-content;
    max-width: fit-content;
    border: 1px solid white;
    border-radius: 1rem;
    text-align: end;
}

#IGCSEs h2, #a_levels h2 {
    font-size: 1rem;
    text-align: left;
    padding: 0.5rem;
}

#IGCSEs ul, #a_levels ul, #university ul{
    list-style: none;
    padding: 1rem;

}

#a_levels {
    grid-area: a_levels;
    color: white;
    margin: 1rem;
    padding: 1rem;
    max-height: fit-content;
    max-width: fit-content;
    border: 1px solid white;
    border-radius: 1rem;
    text-align: end;
}

#university {
    grid-area: university;
    color: white;
    margin: 1rem;
    padding: 1rem;
    max-height: fit-content;
    border: 1px solid white;
    border-radius: 1rem;
    text-align: end;
}

#university h2 {
    font-size: 2rem;
    text-align: left;
    padding: 0.5rem;
}

#university ul li{
    font-size: 1.5rem;
}

/* #quick_links {
    grid-area: quick_links;
    color: white;
    margin: 0.5rem;
    padding: 1rem;
}

#links_icon {
    height: 2rem;
    width: 2rem;
    padding: 1rem;
}

#quick_links ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    margin: 0.5rem;
    padding: 1rem;
    border: 1px solid white;
    border-radius: 1rem;
}

#quick_links ul li {
    list-style: none;
    color: white;
    padding: 1rem;
}

#quick_links ul li a {
    text-decoration: none;
    color: white;
}

#quick_links ul li a svg {
    height: 2rem;
    width: 2rem;
    transition: 0.3s ease-in;
}

#quick_links ul li a svg:hover {
    transform: scale(1.5);
} */

#footer {
    grid-area: footer;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-weight: 100;
    padding: 1rem;
    color: white;
    border-top: 1px solid white;
}

#footer nav ul {
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-evenly;
}

#header nav ul li {
    padding: 0.5rem 1rem;
    min-width: fit-content;
    font-weight: 100;
    font-size: 1rem;
    list-style: none;
}

#footer nav ul li {
    padding: 0.5rem 1rem;
    min-width: fit-content;
    font-weight: 100;
    font-size: 1rem;
    list-style: none;
}

#header nav ul li a, footer nav ul li a {
    display: flex;
    align-items: center;
    gap: 0.8rem;

    text-decoration: none;
    color: white;
    position: relative;
}

#header nav ul li a svg {
    min-width: 1rem;
}

#header nav ul li a::after {
    content: '';
    width: 0;
    height: 1px;
    background: #f142d7;
    position: absolute;
    left: 50%;
    bottom: -6px;
    transition: 0.3s ease-in-out;
}

#header nav ul li a:hover::after {
    width: 100%;
    left: 0;
}