html,
body {
    min-height: 100%;
}

body {
    display: block;
    background-color: black;
    font-family: "IBM Plex Sans", sans-serif;
}

.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header header about"
        "header header about"
        "header header about"
        "header header about"
        "about_me about_me about_me"
        "about_me about_me about_me"
        "about_me about_me about_me"
        "about_me about_me about_me"
        "footer footer footer";
    gap: 1.5rem;
}

#header {
    grid-area: header;
    border-right: 1px solid white;
}

#header nav {
    padding: 0.5rem;
    display: block;
}

#footer nav {
    vertical-align: bottom;
}

#header nav ul {
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-evenly;
    gap: 2rem;
    padding: 1rem 0;
}

#about {
    grid-area: about;
    color: white;
    text-align: right;
    padding-right: 2rem;
}

#about h1 {
    font-family: "IBM Plex Sans";
    font-size: 5rem;
}

#about p {
    margin: 0;
    font-size: 2rem;
    font-weight: lighter;
    text-align: right;
    text-justify: right;
}

#about_me {
    grid-area: about_me;
    color: white;
    margin: 1rem;
    padding: 1rem;
    max-height: fit-content;
    max-width: fit-content;
    border: 1px solid white;
    border-radius: 1rem;
}

#about_me p {
    font-size: 1.5rem;
}

#footer {
    grid-area: footer;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-weight: 100;
    padding: 1rem;
    color: white;
    border-top: 1px solid white;
}

#footer nav ul {
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-evenly;
}

#header nav ul li {
    padding: 0.5rem 1rem;
    min-width: fit-content;
    font-weight: 100;
    font-size: 1rem;
    list-style: none;
}

#footer nav ul li {
    padding: 0.5rem 1rem;
    min-width: fit-content;
    font-weight: 100;
    font-size: 1rem;
    list-style: none;
}


#header nav ul li a,
footer nav ul li a {
    display: flex;
    align-items: center;
    gap: 0.8rem;

    text-decoration: none;
    color: white;
    position: relative;
}

#header nav ul li a svg {
    min-width: 1rem;
}

#header nav ul li a::after {
    content: '';
    width: 0;
    height: 1px;
    background: #f142d7;
    position: absolute;
    left: 50%;
    bottom: -6px;
    transition: 0.3s ease-in-out;
}

#header nav ul li a:hover::after {
    width: 100%;
    left: 0;
}